<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ _("Document") }}</title>
    <link rel="stylesheet" href="../static/css/login-styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.2/css/all.min.css">
</head>
<body>
<div class="container" id="container" >
    <div class="form-container sign-up-container">
        <form method="POST" action="{{ url_for('register') }}" method="post">
            <h1>{{ _("Create Account")}}</h1>
            {#            <div class="social-container">#}
            {#                <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>#}
            {#                <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>#}
            {#                <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>#}
            {#            </div>#}
            {#            <span>or use your email for registration</span>#}
            <input type="text" placeholder="Name" id="username" name="username"/>
            <div class="varify-container">
                <input type="email" placeholder="Email" name="email"/>
                <button class="verify-button" type="button" id="varify" onclick="bindCaptchaBtnClick()">
                    {{ _("Verify") }}
                </button>
            </div>
            <input type="text" placeholder="Email verification code" name="captcha" id="captcha"/>
            <input type="password" placeholder="Password" name="password" id="password_r"/>
            <input type="password" placeholder="Check Password" name="confirm_password" id="confirm_password_r"/>
            <div style="display: flex; justify-content: center; align-items: center">
    <div style="display: inline-block"><input style="display: inline" type="radio" name = "role" value="1">Staff</div>
    <div style="display: inline-block"><input style="display: inline" type="radio" name = "role" value="0">Customer</div>
            </div>
            <br>
            <br>
            <button class="sign-button" id="signupForm">{{ _("Sign Up")}}
                <div class="arrow-wrapper">
                    <div class="arrow"></div>
                </div>
            </button>

        </form>
    </div>

    <div class="form-container sign-in-container">
        <form method="POST" action="{{ url_for("login") }}">
            <h1>{{ _("Sign in") }}</h1>
            <span>{{_("or use your account")}}</span>
            {{ form.csrf_token }}
            <input type="email" placeholder="Email" id="email" name="email"/>
            <input type="password" placeholder="Password" id="passwd" name="password"/>
            {% if emsg %}  <!-- 如果有错误信息 则显示 -->
                <h3 style="color: #ff050a"> {{ emsg }}</h3>
            {% endif %}

            <a href="#" id="forget-password">{{ _("Forgot your password?")}}</a>
            <button class="sign-button" type="submit">{{ _("Sign In")}}
                <div class="arrow-wrapper">
                    <div class="arrow"></div>
                </div>
            </button>
        </form>
    </div>
    <div class="form-container forget-pass-container">
        <form action="#">
            <h1>{{ _("Forgot Password")}}</h1>
            <p>{{ _("Please enter your email, if email is registered, you'll recieve a link to reset your password")}}</p>
            <div class="varify-container">
                <input type="email" placeholder="Email"/>
                <button type="button">{{_("Varify")}}</button>
            </div>
            <input type="text" placeholder="Email verification code"/>
            <input type="password" placeholder="New password"/>
            <button id="send">{{_("Reset")}}</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>{{_("Welcome Back!")}}</h1>
                <p>{{_("To keep connected with us please login with your personal info")}}</p>
                <button class="ghost sign-button" id="signIn">{{_("Sign In")}}
                    <div class="arrow-wrapper">
                        <div class="arrow"></div>
                    </div>
                </button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>{{_("Hello, Friend!")}}</h1>
                <p>{{_("Enter your personal details and start journey with us")}}</p>
                <button class="ghost sign-button" id="signUp">{{_("Sign Up")}}
                    <div class="arrow-wrapper">
                        <div class="arrow"></div>
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>

<script src="../static/js/login-script.js"></script>
<script src="../static/js/jquery-3.6.1.min.js"></script>

</body>
</html>